<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>473100843091-vujj0487pk456gi0t97trfcho3u9fnrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473100843091-vujj0487pk456gi0t97trfcho3u9fnrd</string>
	<key>API_KEY</key>
	<string>AIzaSyDpXNEXOFMHP_VomJiYkITIz3vWzX_3_uU</string>
	<key>GCM_SENDER_ID</key>
	<string>473100843091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.huebner.bowling.League</string>
	<key>PROJECT_ID</key>
	<string>league-7023e</string>
	<key>STORAGE_BUCKET</key>
	<string>league-7023e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473100843091:ios:4057d0bfb0a2fa07</string>
	<key>DATABASE_URL</key>
	<string>https://league-7023e.firebaseio.com</string>
</dict>
</plist>